/*  Basic Styling */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Merriweather:wght@300;400&family=Poppins:wght@300&family=Roboto+Mono&family=Square+Peg&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    
}

.header-image {
    background-size: cover;
    max-width: 50%;
    height: 70px;
}

body {
    margin:0;
    padding:0;
    
}

li {
    list-style-type: none;
}

a {
    color: #6c757d;
    text-decoration: none;
    
}

header {
    background-color: #1f2937;
    padding-top: 2px;
    padding-bottom: 40px;
}

.heading, .logo {
    color:#f8f9fa
}
.description {
    color:#ced4da;
    font-size: 1em;
}

.logo {
    font-weight: 900;
}


/* ---------------------------------||-------------------------------------- */


/* ---------------------------------Navbar Flexing---------------------------- */
ul {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    gap:20px;
    
    
   
}
.logo {
    flex-grow: 1;
    padding-left: 50px;
}

.link {
    gap:20px;
}

/* .............................................................................. */

/* --------------------------------------Heading-------------------------------- */
/* 
.header-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.header-image {
    flex: 0;
    align-self: flex-end;
    
}

.description {

}
.heading {
    order:2;
    align-items: center;
    padding-left: 150px;
}
.description{
    order:1;
    align-self: flex-end;
    padding-top: 90px;
    margin-left: -230px;
    margin-top: -10px;
    justify-content: flex-start;
}

.button {
    max-height: 40px;
    width: 100px;
    align-self: flex-end;
    justify-content: flex-end;
}
 */

 /* -------------------------------Heading Styles------------------------ */

.header-text {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top:40px;
}

.header-image {
    
    position: absolute;
    left:80%;
    top:20%;
    flex-direction: column;
    
}



.heading {
    max-width: 802%;
    font-size: 2.5em;
    padding:10px 0;
    
}
.header-text {
    max-width: 70%;
}


.description {
    max-width: fit-content;
    position: relative;
    bottom: 3em;
    left: px;
}

.button {
    position: relative;
    max-width: 70px;
    height: 30px;
    bottom:50px;
}

/* -----------------------------End of Heading Styles--------------------- */

/* -----------------------------Body Styles-------------------------------- */

.body-image {
    display: flex;
    flex:1;
    gap:50px;
    justify-content: center;
    padding-top: 10px;
    
}

.body-text h2 {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    color: #081c15;
    padding-top: 20px;
}

.image {
    display: flex;
    border-radius: 25px;
    border: 2px solid #184e77;
    padding: 20px;
    width: 200px;
    height: 150px; 
    width: 100px;
    height: 100px;
    justify-content: center;
    
 
}

.image-text {
    max-width: 120px;
    font-size: 0.8em;
    color:rgba(0,0,0,0.5);
}

.image-container {
    display:flex;
    flex-direction: column;
    gap:1px;
}

.body {
    padding-top: 20px;
    padding-bottom: 75px;
}
/* ---------------------------------End of Body Styles ----------------- */


/* ----------------------------------Quotation-------------------------- */

.quotation {
    background-color: #dee2e6;
    padding:75px 150px 75px 150px;
}

.quote-text p {
    font-size: 2.5em;
    color: rgba(52,58,64,0.7);
}

.quote-quoter{
    position: relative;
    font-weight: 900;
    bottom: 900%;
    left: 80%;
    font-family: 'Square Peg', cursive;
    font-size: 2.4rem;
}